#topLogo{
	width: 70%;
	margin-left: 2em;
}
.searchBtn{
	display: inline;
	height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.searchBox{
	max-width: 70%;
	display: inline-block !important;	
}
.defaultMargin {
	margin: auto;
	padding: 10px;

}
.cardBodyBorderColor{
	border : 2px solid #007bff!important;
}

.textCardHeard>div{
	color: white;
}

.text-card-body{
	color: blue;
}
.videoTitle{
	margin-left: .75em;
	margin-top: .75em;
}
.subscribedYouTubes{
	padding: 1px;
}
.horizontalLine{
	width:90%;
}
.cardTextExplanation{
	width:80%;
}
.horizontalCenter{
	margin-left: auto !important; ;
    margin-right: auto !important; ;
}

.viewNumbers{
	position: absolute;
    right: 12em;
    bottom: 15em;
}

/* Style for switch on the player list */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* End of style for Switch */

main{
	margin-top: 20px;
}
#leftBarAutoplay{
	position: absolute;
    right: 0px;
    margin-right: 27px;
}