#topLogo{
	width: 70%;
	margin-left: 2em;
}
.searchBtn{
	display: inline;
	height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.searchBox{
	max-width: 70%;
	display: inline-block !important;	
}
.defaultMargin {
	margin: auto;
	padding: 10px;

}
<<<<<<< HEAD

=======
.cardBodyBorderColor{
	border : 2px solid #007bff!important;
}

.textCardHeard>div{
	color: white;
}

.text-card-body{
	color: blue;
}
>>>>>>> 362e6bb81a6adc2456679d09fb5fa8e66e5adcb5
